body {
    text-align: center;
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #FFE6CD; 
}

.container {
    width: 1100px; 
    margin: 0 auto; 
    overflow: hidden; 
}

h1 {
    background-image: url("title background.jpg"); 
    background-size: 100% auto; 
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px; 
    color: white; 
}

h1 .name {
    font-family: "Juliette", sans-serif; 
    font-size: 4.0em; 
    color: #FFA64E; 
    text-shadow: 
        -4px -4px 0 #FFFFFF, 
        4px -4px 0 #FFFFFF, 
        -4px 4px 0 #FFFFFF,  
        4px 4px 0 #FFFFFF;   
    max-width: 100%; 
    word-wrap: break-word; 
    margin-top: 30px;
    display: inline-block;
    transform: rotate(-5deg);
}

img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

h2 {
    margin-top: 100px;
    font-weight: bold;
    color: #67A0C4;
    padding: 40px;
    font-size: 3.5em;
}

h3 {
    font-weight: bold;
    font-size: 2.0em;
}

h1, h2, h3, p {
    margin: 0; 
    padding: 0; 
}

h2, h3 {
    margin-bottom: 0.5em; 
}

p {
    margin-bottom: 1em;
}

.Introduction, .skill, .fortune-images {
    margin-bottom: 1.5em; 
}

.fortune-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.fortune-item {
    text-align: center;
}

.fortune-image {
    width: 400px;  
    height: 400px;
    object-fit: cover;
}

.fortune-item p {
    margin-top: 10px;  
    font-size: 18px;   
}

.meiro-image{
    width: 400px;  
    height: 400px;
    object-fit: cover;
}

.skill {
        display: flex;                
        flex-direction: column;       
        align-items: center;          
        gap: 20px;                    
}
    
.skill-item {
        display: flex;               
        align-items: center;          
        gap: 10px;                    
        text-align: left;             
}


.skill-icon {
    height: 100px;
    width: 100px; 
}

.skill-description {
    font-size: 1.5em; 
    text-align: center; 
}

.html-css-container {
    display: inline-block;
    margin: 10px;
}

.html-icon, .css-icon {
    width: 100px; 
    height: 100px; 
}

.tools {
    font-size: 1.2em;
}
